<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/0744a43ed7aac352ec78c1404c890d72?family=Gilroy+Light" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="/public/img/logo.jpg" />
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <title>JauneCongo| JauneCongo</title>
</head>
<body>


    <header>
        <div class="nav-top">
        <div>
            <p>Cultivons un autre monde !</p>
        </div>
        <nav>
            <ul>
                <li>Infos qualités</li>
                <li>Infos livraisons</li>
                <li>Infos paiements</li>
                <li>

                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="far fa-envelope"></i>
                        <i class="fas fa-phone-alt"></i>
                    
                </li>
            </ul>
        </nav>
        </div>

        <div class="nav-bottom">

            <div>
                <a href="/produits"><img id="img1" src="/public/img/logo1.jpg" alt="Logo Jaune Congo"></a>
            </div>
            
            <nav>
                <ul>
                    <li>Légumes</li>
                    <li>Fruits</li>
                    <li>Herbes aromatiques </li>
                    <li>Paniers hebdomadaires</li>
                    <li>Plus</li>
                    <li><i class="fas fa-angle-down"></i></li>
                    <li>Connexion</li> 
                    <li>|</li>
                    <li>Panier / $ 0.00</li> 
                    <li><span style="font-size: 20px; position: relative; right: 21px;" class="iconify" data-icon="fa:shopping-basket" data-inline="false"></span></li>
                </ul>
            </nav>
        </div>
    </header>
